/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab');

/* vars */
:root {
  --backBlack: #131313;
  --main: #0d0d0d;
  --main-fade: #191919;
  --primary: #008080;
  --primary-active:#008d8d;
  --primary-fade: #6de3e3;
  --urgent: #b31e12;
  --urgent-active: #C43023;
  --urgent-fade: #e55;
}

/* general */
:first-child {
  margin-top: 0;
}

p, ul, ol, div {
  margin: 2em 0;
}

div {
  padding: 0 2em;
}

body {
  background-color: var(--main-fade);
  margin: 0;
  min-width: 580px;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  margin: .5em 0;
  display: block;
}

p, li, button {
  font-family: 'Roboto', sans-serif;
}

button {
  color: white;
  background-color: var(--primary);
  padding: .5em;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: .3em;
  margin: .3em;
}

button:hover:not(.disabled) {
  cursor: pointer;
}

button:active {
  background-color: var(--primary-active);
}

button.urgent {
  background-color: var(--urgent);
}

button.urgent:active {
  background-color: var(--urgent-active);
}

button.disabled {
  background-color: var(--primary-fade);
  color: darkgrey;
}

button.urgent.disabled {
  background-color: var(--urgent-fade);
  color: darkgrey;
}

span.code {
  background-color: var(--main-fade);
  border-radius: .2em;
  border: 1px solid var(--main);
  font-family: "Roboto Mono", monospace;
  padding-left: .3em;
  padding-right: .3em;
}

div.panel {
  box-shadow: 2px 2px 10px black;
  border-radius: .4em;
  padding: 1em;
  float: left;
}

div.panel > h2 {
  text-align: center;
}

.right {
  float: right;
}

/* specific elements */
div#content {
  background-color: var(--backBlack);
  margin: 0 20vw;
}

div#navbar {
  background-color: var(--main);
  margin: 0 20vw;
  padding: 0;
  height: 3em;
}

a.nav-link {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  display: block;
  float: left;
  margin: 0;
  height: 100%;
  line-height: 100%;
}

a.nav-link:hover, a.nav-link.active {
  background-color: var(--main-fade);
}

a.nav-link.right {
  float: right;
}

p.nav-item{
}

img.logo-image {
  max-height: 2.5em;
  float: left;
  margin: .25em;
}


/* breakpoints */
@media only screen and (max-width: 1500px) {
  /* general */

  /* specific elements */
  div#content, div#navbar {
    margin: 0 10vw;
  }
  div.panel {
    width: 40%;
  }
}

@media only screen and (max-width: 1000px) {
  /* general */

  /* specific elements */
  div#content, div#navbar {
    margin: 0;
  }

}
